.chat{
   
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
   
    .messages{
        display: flex;
        flex-shrink: 0; 
        flex-direction: column;
        flex: 1;
        height: 100%;
        overflow-y: scroll;
        background: rgb(218, 218, 146);

        
        h1{
            color: white;
            padding: 5px;
            font-size: x-large;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        .message{
            cursor: pointer;
            background: white;
            margin: 10px;
            padding: 10px;
           border: none;
           border-radius: 5px;
            align-items: center;
            display: flex;
            gap: 20px;
            img{
                width: 40px;
                height: 40px;
                object-fit: cover;
            }
        }
    }

    .inbox{
        overflow: hidden;
        flex: 1;
        display: flex;
        flex-direction: column;   
        padding: 10px;
        
        background: rgb(147, 147, 124);
        border-radius: 5px;
            
        .sendmsg{
            margin: 5px;
            display: flex;
            width: 100%;
            textarea{
                
                flex: 3.5;
            }
            button{
                flex: 1;
                cursor: pointer;
            }
         }

        .userdetails{
            background: yellow;
            border: 1px solid grey;
            display: flex;
            gap: 20px;
            width: 100%;
            align-items: center;
            justify-content: space-between;

            img{
                width: 40px;
                height: 40ox;
            }
            .Avatar{
                display: flex;
                gap: 10px;
                align-items: center;
                padding: 10px;
            }

            .cross{
                font-size: medium;
                font-weight: bolder;
                 padding: 10px;    
                 cursor:pointer;               
            }
        }
    }

    .chatsection{
        overflow-y: scroll;
        flex-shrink: 0; 
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 50%;
        .wrapperreceiver{
        
            background: white;
            padding: 10px;
            display: flex;
            justify-content:flex-end;
            .msg{
                display: flex;
                flex-direction: column;
                gap: 4px;
            }
           
            
        }

        .wrappersender{
           
            
            background: white;
            padding: 10px;
            display: flex;
            
            .msg{
                display: flex;
                flex-direction: column;
                gap: 4px;
            }
        }
        
       

        
       
    }
}