.singlepage{
    overflow-y: auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    


    .left{
        display: flex;
        flex-direction: column;
        height: 100%;
        flex: 1;

        .imagecontainer{
            height: 50%;
            width: 100%;
        }


        .Estatedetails{
            display: flex;
            margin-bottom: 25px;
            
            .details{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex: 3;
                
            }
            .user{
                display: flex;
                flex-direction: column;
                flex: 1;
                padding: 5px;
                justify-content: center;
                align-items: center;
                background-color: rgb(231, 231, 138);
                
                img{
                    margin: 10px;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                }
            }
        }
    }
    .right{
        margin-left: 25px;
        display: flex;
        flex: 1;
        border: 1px solid grey;
    }
}