.singlepage{
    overflow-y: auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    


    .left{
        display: flex;
        flex-direction: column;
        height: 100%;
        flex: 1;

        .facilities{
            display: flex;
            
            height: 50px;
            justify-content: space-between;
            align-items: center;
            padding: 15px;

            @media (max-width: 1000px) {
                display: none;
            }
           

            p{
                border: 1px solid #999;
                padding: 10px;
                height: 50px;
                text-transform: capitalize;
                border: none;
                /* background-color: rgb(252, 252, 164); */

               
            }

            &.small{
                display: none;
                    @media (max-width: 1000px) {
                        display: inline;
                        padding: 2px;
                        display: flex;
                        justify-content: space-between;
                    }
                    
                p{
                    display: flex;
                    border: none;
                    img{
                        width: 36px;
                        height: 36px;
                        margin-right: 10px;
                    }
                }
            }


        }

        

        .imagecontainer{
            height: 50%;
            width: 100%;
            flex: 1;
        }


        .Estatedetails{
            display: flex;
            margin-bottom: 25px;
            
            .details{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex: 3;
                
            }
            .user{
                display: flex;
                flex-direction: column;
                flex: 1;
                padding: 5px;
                justify-content: center;
                align-items: center;
                background-color: rgb(231, 231, 138);
                
                img{
                    margin: 10px;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                }
            }
        }
    }
    .right{
        margin-left: 25px;
        display: flex;
        flex: 1;
        
    }


}

.description{
    width: 100%;
    margin-bottom: 20px;
}