.profile{
    display: flex;
    height: 100%;
    margin-bottom: 50px;
    overflow-y: scroll;
    .left{
        overflow-y: scroll;
        flex: 1;
        height: 100%;
       
        display: flex;
        flex-direction: column;
        padding: 5px;
        

        

        .userdetails{
            display: flex;
            flex-direction: column;
            gap: 20px;
            
            .logout{
               button{
                padding: 10px;
                background: rgb(196, 158, 230);
                border: none;
                cursor: pointer;
               }
            }

            .top{
                display: flex;
                justify-content: space-between;

                button{
                    height: 40px;
                    width: 90px;
                }
            }

            .middle{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 10px;

                .Avatar{
                    
                    height: 50px;
                    display: flex;
                   gap: 20px;
                    align-items: center;
                }

                /* p{
                    border: 1px solid blue;
                    height: 30px;
                    margin: 10px 0px;
                } */
                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    

                }
            }

            .bottom{
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .right{
        flex: 1;
        height: 100%;
      
        padding: 5px;
        display: flex;
        flex-direction: column;

        @media (max-width:1200px)
        {
            display: none;
        }
    }
}