.searchbar{
    
    .type{
        
        margin-top: 20px;
        button{   
        padding: 16px 36px;
        border: 1px solid #999;
        cursor: pointer;
        text-transform: capitalize;

        &.active{
            background-color:black ;
            color: white;
        }

        &:first-child{
            border-top-left-radius: 5px ;
            border-right: none;
            border-bottom:none ;
        }
        &:last-child{
            border-top-right-radius:5px ;
            border-left:none ;
            border-bottom:none ;
        }

        }
        


    }

    form{
        border: 1px solid #999;
        display: flex;
        justify-content: space-between;
        height: 5vh;
        gap: 5px;

        input{
            border: none;
            padding: 0px 10px;
            width: 200px;
            flex: 1;

            @media (max-width: 800px){
                width: 120px;
            }
            

            
        }
        button{
            background-color: yellow;
            border: none;
            flex: 1;
            cursor: pointer;
           
            @media (max-width: 800px){
                width: 10px;
            }
            
            
            
          
        }
    }
}

input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    -ms-appearance: textfield;
    appearance: textfield; /* Standard property */
  }
  
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield; /* Vendor-specific property */
  }
  
  /* Internet Explorer */
  input[type="number"] {
    -ms-appearance: textfield; /* Vendor-specific property */
  }