nav {
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    transition: all 0.4s ease;

    @media (max-width: 600px) {
      display: none;
    }

    &:hover {
      scale: 1.05;
    }
  }

  .left {
    flex: 3;
    display: flex;
    align-items: center;

    a {
      margin: 5px;
      padding: 5px;
    }

    .logo {
      display: flex;
      font-weight: bold;

      align-items: center;
      gap: 10px;

      @media (min-width: 601px) and (max-width: 1024px) {
        span {
          display: none;
        }
      }
    }

    img {
      width: 58px;
    }
  }

  .right {
    flex: 2;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;

    a {
      margin: 5px;
      padding: 5px;
    }

    .signup {
      background-color: yellow;
    }

    .burger_menu {
      background-color: black;

      display: none;
      z-index: 2;

      @media (max-width: 600px) {
        display: inline;
      }

      img {
        width: 36px;
        height: 36px;
      }
      .burger_menu_items {
        position: absolute;
        top: 0;
        right: -50%;
        background-color: black;
        color: white;
        height: 100vh;
        width: 50%;
        z-index: -1;
        padding-top: 70px;

        transition: all ease-in 0.5s;

        &.active {
          right: 0;
        }

        a {
          display: initial;
          display: flex;
          height: 6vh;

          justify-content: center;
        }
      }
    }
  }
}


.layout{
  
  height: 100vh;
  max-width: 1366px ;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1025px) {
  .layout {
    
    max-width: 1150px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  /* Styles for screens between 601px and 1024px */
  .layout {
   
    max-width: 750px;
  }
}


@media (max-width: 600px) {
  /* Styles for screens smaller than 600px */
  .layout {
   
    max-width: 550px;
  }
}
